body {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 10px;
}

div {
    padding: 15vh 0;
    border: 1px solid black;
}

.box-1 {
    background-color: lime;
    grid-column: 1/6;
}

.box-2 {
    background-color: yellow;
}

.box-3 {
    background-color: orangered;
    grid-column: 2/6;
}

.box-4 {
    background-color: aqua;
    grid-column: 2/6;
}
